<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.facebook_clone.user.UserProfileMapper">
    <insert id="insUserProfile">
        INSERT INTO t_user_profile
        (iuser, img)
        VALUES
        (#{iuser}, #{img})
    </insert>

    <select id="selUserProfile" resultType="UserDomain">
        SELECT A.iuser, A.mainProfile, A.regdt, A.nm, A.email, A.tel
             , (SELECT COUNT(ifeed) FROM t_feed WHERE iuser = ${toIuser}) AS cntFeed
             , (SELECT COUNT(iuserFrom) FROM t_user_follow WHERE iuserFrom = ${toIuser}) AS cntFollow
             , (SELECT COUNT(iuserTo) From t_user_follow WHERE iuserTo = ${toIuser}) AS cntFollower
              , (SELECT COUNT(iuserFrom) FROM t_user_follow WHERE iuserFrom = ${toIuser} AND iuserTo = ${fromIuser}) AS isYouFollowMe
              , (SELECT COUNT(iuserFrom) FROM t_user_follow WHERE iuserFrom = ${fromIuser} AND iuserTo = ${toIuser}) AS isMeFollowYou
        FROM t_user A
        WHERE A.iuser = ${toIuser}
    </select>

    <select id="selUserProfileList" resultType="UserProfileEntity">
        SELECT iprofile, img
        FROM t_user_profile
        WHERE iuser = #{iuser}
    </select>
</mapper>