<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">

<head>
    <title>피드 등록</title>
</head>

<th:block layout:fragment="js">
    <script defer th:src="@{/js/feed/reg.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <h1>글쓰기</h1>
    <!--<form th:action="@{reg}" method="post" enctype="multipart/form-data" th:object="${feedEntity}">
        <div>
            <textarea th:field="*{ctnt}" placeholder="지금 무슨 생각을 하고 계신가요?"></textarea>
            <div class="hide"><input id="imgArr" type="file" name="imgArr" multiple accept="image/*"> </div>
        </div>
    </form>-->
    <div><textarea id="ctnt" placeholder="지금 무슨 생각을 하고 계신가요?"></textarea></div>
    <div><input type="file" id="selectImgArr" multiple accept="image/*"></div>
    <div><input id="btnUpload" type="button" value="submit" disabled></div>
    <div id="displayImgsList"></div>
</th:block>

</html>