<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="basicLayout">
<head>
    <title>프로필</title>
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/profile.css}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</th:block>
<!-- https://swiperjs.com/get-started -->
<th:block layout:fragment="js">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script defer th:src="@{/js/feed.js}"></script>
    <script defer th:src="@{/js/user/profile.js}"></script>
</th:block>

<th:block layout:fragment="content"
          th:with="auth=${#authentication.getPrincipal().getUser()}"> <!-- 자식들만 auth 쓸 수 있는 모양 -->
    <div id="localConst" th:attr="data-iuser=${profile.iuser}, data-main-profile=${auth.mainProfile}">
        <form th:if="${auth.iuser eq profile.iuser}" th:action="@{profileImg}" method="post" enctype="multipart/form-data">
            <div>이미지 : <input type="file" name="imgArr" multiple accept="image/*"><input type="submit" value="업로드"></div>
            <!-- type="file" : 파일 인풋 ; multiple : 여러 파일 업로드 가능 ; accept="image/*" 이미지만 받는다. -->
        </form>

        <div id="flexContainer">
            <div>
                <img th:if="${profile.mainProfile != null}" class="profile w300 pointer" th:src="@{/pic/profile/{iuser}/{img} (iuser=${profile.iuser}, img=${profile.mainProfile})}">
                <div>
                    <table>
                        <tr>
                            <th>feed</th>
                            <td th:text="${profile.cntFeed}"></td>
                            <th class="pointer follower">follower</th>
                            <td class="pointer follower" id="followerCntTd" th:text="${profile.cntFollower}"></td>
                            <th class="pointer following">following</th>
                            <td class="pointer following" th:text="${profile.cntFollow}"></td>
                            <td th:unless="${profile.iuser eq auth.iuser}">
                                <th:block th:if="${profile.isMeFollowYou eq 1}">
                                    <input type="button" id="btnFollow" class="instaBtn" data-follow="1" value="팔로우 취소">
                                </th:block>
                                <th:block th:unless="${profile.isMeFollowYou eq 1}">
                                    <th:block th:if="${profile.isYouFollowMe eq 1}">
                                        <input type="button" id="btnFollow" class="instaBtnEnable" data-follow="0" value="맞팔로우">
                                    </th:block>
                                    <th:block th:if="${profile.isYouFollowMe eq 0}">
                                        <input type="button" id="btnFollow" class="instaBtnEnable" data-follow="0" value="팔로우">
                                    </th:block>
                                </th:block>
                            </td>
                        </tr>
                    </table>
                </div>
                <table>
                    <tr>
                        <th>email</th>
                        <td th:text="${profile.email}"></td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td th:text="${profile.nm}"></td>
                    </tr>
                    <tr>
                        <th>tel</th>
                        <td th:text="${profile.tel}"></td>
                    </tr>
                    <tr>
                        <th>reg date</th>
                        <td th:text="${profile.regdt}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <section>
            <div id="feedContainer"></div>
            <div class="loading hide">
                <img th:src="@{/img/loading.gif}">
            </div>
        </section>

        <div id="follow_modal" class="hide">
            <div>
                <div id="follow_modal_container">
                    <div class="follow_modal_top">
                        <div id="follow_modal_title">follow</div>
                        <i id="follow_modal_close" class="follow_modal_close pointer far fa-window-close"></i>
                    </div>
                    <div class="followCont"></div>
                </div>
            </div>
        </div>

        <div id="profile_modal" class="modal hide">
            <div class="modal_close_parent"><i id="profile_modal_close" class="modal_close pointer far fa-window-close"></i></div>
            <div>
                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" th:each="item : ${profileList}"> <!-- EL식이다..? -->
                            <div>
                                <div class="profile-img-parent" th:attr="data-iprofile=${item.iprofile}">
                                    <i class="no-main-profile pointer fas fa-check" th:unless="${item.img == profile.mainProfile}"></i>
                                </div>
                                <img th:src="@{/pic/profile/{iuser}/{img}(iuser=${profile.iuser}, img=${item.img})}">
                                <!-- th:src 를 쓰는 이유.
                                 한 서버에 여러 프로젝트를 돌릴경우, 1차 주소값으로 프로젝트를 구분할때, @{} 를 쓰면 1차주소값을 명시하지 않아도 된다.
                                 # 은 request.getParameter 쓸때..?
                                 ${} 는 Request 에 담겨엤는 애 가지고 올 때 -->
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>


    <script type="module">
        const swiper = new Swiper('.profile_modal .swiper-container', {
            // Optional parameters
            direction: 'horizontal', // 방향
            loop: false,

            // If we need pagination
            pagination: { // 페이징(밑에 점 세개) 할꺼냐
                el: '.swiper-pagination', // 엘리먼트
            },

            // Navigation arrows
            navigation: { // 화살표
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            // And if we need scrollbar
            scrollbar: { //점 밑에 스크롤 바
                el: '.swiper-scrollbar',
            },
            effect: 'coverflow',
            coverflowEffect: {
                rotate: 30,
                slideShadows: false,
            },
        });
    </script>
</th:block>
</html>