#flexContainer {
    width: 100%; height: 300px;
    display: flex; justify-content: center; align-items: center;
}

.profile_modal .swiper-container {
    width: 90vw;
    height: 40vw;
}

.profile_modal .swiper-slide {
    display: flex;
    justify-content: center;
}
section {display: flex; justify-content: center;}